[MASTER]
ignore=venv

[FORMAT]
max-line-length=120

[BASIC]

class-naming-style=PascalCase

function-naming-style=camelCase
method-naming-style=camelCase

variable-naming-style=camelCase

const-naming-style=UPPER_CASE

good-names=i,j,k,x,y,z,id

[DESIGN]

min-public-methods=0

[MESSAGES CONTROL]

disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    trailing-whitespace,
    missing-final-newline