name: Python Lint

on:
  push:
    branches: ["master"]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install Pylint
        run: pip install pylint

      - name: Run Pylint
        run: pylint --rcfile=.pylintrc src/**/*.py
